* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.price {
    margin-right: 10px;
    font-size: 19px;
}

.add-cart {
    font-size: 18px;
}

.hide {
    font-size: 18px;
}

.book-card {
    width: 300px;
    height: auto;
}

#book-img {
    height: 400px;
}

#book-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 19px;
}

.cart {
    opacity: 0.5;
}

.fa-cart-shopping {
    font-size: 20px;
}

.info {
    font-size: 18px;
}

.hidden {
    display: none;
}

.in-to-cart {
    box-shadow: 2px 2px 2px 2px red;
}